<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meicm.cas.digitalwellbeing">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />

    <!-- API 29 and later !-->
    <uses-permission android:name="com.permission.ACTIVITY_RECOGNITION" />
    <!-- API 28 and earlier !-->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.UnlockService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.AppUsageGathererService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.ActivityRecognitionIntentService"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.meicm.cas.digitalwellbeing.communication.receiver.UsageWarningNotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.meicm.cas.digitalwellbeing.communication.receiver.NotificationSnoozeButtonReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.meicm.cas.digitalwellbeing.communication.receiver.UnlockServiceRestartReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.meicm.cas.digitalwellbeing.communication.receiver.ActivityRecognitionReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>